<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Links' Bag of Infinite Holding</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <header>
      <a href="/#/items"><img class="homeLink" src="http://vignette2.wikia.nocookie.net/zelda/images/f/fd/Link_rit_2_TWW.png/revision/latest?cb=20131005191445&path-prefix=fr" alt="Home Link"></a>
      <h1>Link's Bag of Infinite Holding</h1>
      <span class="sound" onclick="document.getElementById('audio').muted=!document.getElementById('audio').muted"><i class="fa fa-volume-up" aria-hidden="true"></i><img id="navi" src="http://i.imgur.com/rnO6STA.png" class="homeLink"></span>
      <audio id="audio" src="/assets/js/mp3/Zelda.mp3" loop="loop" autoplay=""></audio>
    </header>

    <div data-ng-app="linkBag">
      <main data-ui-view></main>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://use.fontawesome.com/3a210fbd92.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
